<section class="vision__section row">
  <div class="col-12 col-md-12 col-lg-6">
    <div class="vision__section-content">
      <h2 class="section__title">{{ 'vision.sectionTitle' | translate }}</h2>
      <h3 class="section__subtitle">{{ 'vision.title' | translate }}</h3>
      <p class="section__description">{{ 'vision.description' | translate }}</p>

      <div class="vision__people">
        <div class="vision__people-item">
          <img
            alt="{{ 'vision.man.name' | translate }}"
            class="vision__people-item-image"
            src="assets/images/our-vision/man.jpg"
          />
          <div class="vision__people-item-content">
            <div class="vision__divider"></div>
            <h4 class="vision__name">{{ 'vision.man.name' | translate }}</h4>
            <p class="vision__position">{{ 'vision.man.position' | translate }}</p>
          </div>
        </div>

        <div class="vision__people-item">
          <img
            alt="{{ 'vision.woman.name' | translate }}"
            class="vision__people-item-image"
            src="assets/images/our-vision/women.jpg"
          />
          <div class="vision__people-item-content">
            <div class="vision__divider"></div>
            <h4 class="vision__name">{{ 'vision.woman.name' | translate }}</h4>
            <p class="vision__position">{{ 'vision.woman.position' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-6">
    <div class="vision__section-stats">
      <h2 class="vision__stat-subtitle">{{ 'vision.subtitle' | translate }}</h2>
      <p class="vision__stat-number">190</p>
      <p class="vision__stat-description">{{ 'vision.desc-1' | translate }}</p>
    </div>
  </div>
</section>
