<h2 class="section__title">{{ 'vision.sectionTitle' | translate }}</h2>
<section class="vision__section">
  <div class="vision__section-content">
    <h3 class="section__subtitle">{{ 'vision.title' | translate }}</h3>
    <p class="section__description">{{ 'vision.description' | translate }}</p>
    <div class="people">
      <div class="people__data">
        <img alt="{{ 'vision.man.name' | translate }}" class="img"
             src="assets/images/our-vision/man.jpg"
        />
        <div class="people__data-content">
          <div class="divider"></div>
          <h4>{{ 'vision.man.name' | translate }}</h4>
          <p>{{ 'vision.man.position' | translate }}</p>
        </div>
      </div>
      <div class="people__data">
        <img alt="{{ 'vision.woman.name' | translate }}" class="img"
             src="assets/images/our-vision/women.jpg"/>
        <div class="people__data-content">
          <div class="divider"></div>
          <h4>{{ 'vision.woman.name' | translate }}</h4>
          <p>{{ 'vision.woman.position' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="vision__section-stats">
    <h2 class="stat-subtitle">{{ 'vision.subtitle' | translate }}</h2>
    <div class="stat-video-container">
      <video autoplay class="bg-video" loop>
        <source src="assets/videos/intro-video1.mp4" type="video/mp4"/>
      </video>

      <p class="text">190</p>
    </div>

    <p class="description">{{ 'vision.desc-1' | translate }}</p>
  </div>
</section>
<p class="fdfdfdf">190</p>
