<section class="initiatives">
  <div class="initiatives__header">
    <h2 class="section__title">{{ 'initiatives.sectionTitle' | translate }}</h2>
    <h3 class="section__subtitle">{{ 'initiatives.title' | translate }}</h3>
  </div>

  <div class="row align-items-start">
    <div class="col-lg-7">
      <div class="initiatives__accordion accordion" id="initiativesAccordion">
        @for (item of [1, 2, 3, 4]; track item; let i = $index; let last = $last) {
          <div class="accordion-item">
            <h2 [id]="'heading-' + item" class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-' + item"
                [attr.aria-expanded]="i === 0 ? 'true' : 'false'"
                [attr.aria-controls]="'collapse-' + item"
              >
                <span class="accordion-button__number">
                  {{ '0' + (i + 1) }}
                </span>
                {{ ('initiatives.items.initiative' + item + '.title') | translate }}
              </button>
            </h2>

            <div
              [id]="'collapse-' + item"
              [attr.aria-labelledby]="'heading-' + item"
              class="accordion-collapse collapse"
              [ngClass]="{ 'show': i === 0 }"
              data-bs-parent="#initiativesAccordion"
            >
              <div class="accordion-body">
                {{ ('initiatives.items.initiative' + item + '.description') | translate }}
              </div>
            </div>
          </div>

          @if (!last) {
            <hr class="initiatives__accordion__divider"/>
          }
        }
      </div>
    </div>

    <div class="col-lg-5 d-none d-lg-block">
      <div class="initiatives__image">
        <img
          alt="Abstract network visualization"
          src="assets/images/initiatives/initiatives.jpg"
        />
      </div>
    </div>
  </div>
</section>
