.header {
  position: sticky;
  top: 0;
  z-index: 1050;
  background: var(--bs-white);
  transition: all 0.3s ease-in-out;

  &--glass {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.5rem;
  }

  &__brand {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    &-logo {
      height: 45px;
    }

    &-beta {
      font-size: 12px;
      font-weight: 500;
      color: #7c7c7c;
      background: rgba(170, 176, 188, 0.2);
      padding: 0.5rem;
      border-radius: 100px;
    }
  }

  &__menu {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: var(--bs-dark-gray-5);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: auto;
      right: 0;
      width: 0%;
      height: 2px;
      background-color: var(--bs-dark-gray);
      transition: width 0.3s ease;
    }

    &:hover {
      color: var(--bs-dark-gray-4);

      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 2rem;

    &-language {
      font-size: 16px;
      color: var(--bs-dark-gray-4);
      padding: 0;
    }

    &-divider {
      width: 2px;
      height: 16px;
      background: var(--bs-dark-gray-4);
    }
  }

  &__toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bs-white);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1050;
    pointer-events: none;
   

    &--open {
      transform: translateX(0);
      pointer-events: auto;
    }

    &--closing {
      transform: translateX(100%);
      pointer-events: none;
    }

    .header__link {
      border-color: var(--bs-gray);
    }

    ul {
      list-style: none;
      margin-top: 1rem;
      padding: 0 1.5rem;
    }

    li {
      border-bottom: 1px solid #eee;
      padding: 1.25rem 0;
    }
  }

  //&__mobile-menu {
  //  position: fixed;
  //  top: 0;
  //  right: -100%;
  //  width: 100%;
  //  height: 100vh;
  //  background-color: var(--bs-white);
  //  transition: all 0.3s ease-in-out;
  //  z-index: 1050;
  //  display: none;
  //
  //  &--open {
  //    display: block;
  //    right: 0;
  //  }
  //
  //  .header__link {
  //    border-color: var(--bs-gray);
  //  }
  //
  //  ul {
  //    list-style: none;
  //    margin-top: 1rem;
  //    padding: 0 1.5rem;
  //  }
  //
  //  li {
  //    border-bottom: 1px solid #eee;
  //    padding: 1.25rem 0;
  //  }
  //}
}
