@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.scope-slider {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  // Header
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__info {
    flex: 1 1 auto;
  }

  &__description {
    font-size: 14px;
    max-width: 50%;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__actions {
    display: flex;
    gap: 1rem;
    flex-shrink: 0;
    justify-content: flex-end;
    width: 100%;
  }

  // Wrapper & container
  &__wrapper {
    position: relative;
  }

  &__container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
    cursor: grab;

    &.active {
      cursor: grabbing;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // Card
  &__card {
    flex: 0 0 auto;
    max-width: min(30%, 400px);
    width: 100%;
    scroll-snap-align: start;
    scroll-margin-inline: 1rem;
    border-radius: 20px;
    padding: 38px;
    position: relative;
    border: 1px solid #AAB0BC;
    transition: border-color 0.3s ease;
    user-select: none;

    @include media-breakpoint-down(md) {
      max-width: 90%;
    }

    &:hover {
      border-color: var(--bs-green);

      .scope-slider__text h5 {
        color: var(--bs-dark-gray-4);
      }

      .scope-slider__icon span::before {
        color: var(--bs-green);
      }

      .scope-slider__number {
        color: var(--bs-green);
      }
    }
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
  }

  // Text
  &__text {
    text-align: start;

    h5 {
      font-size: 26px;
      color: #343F52;
      margin: 0;
      font-weight: 800;
      max-width: 90%;
    }

    p {
      font-size: 14px;
      color: #AAB0BC;
      margin: 0;
    }
  }

  // Icon
  &__icon {
    direction: ltr;

    span {
      font-size: 157px;
      display: inline-block;

      &::before {
        transition: color 0.3s ease;
      }
    }
  }

  // Number
  &__number {
    position: absolute;
    top: 2rem;
    inset-inline-end: 2rem;
    font-size: 28px;
    color: #DDDFE4;
    transition: color 0.3s ease;
  }

  // Arrows
  &__arrow {
    background: #DDDFE480;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    span {
      font-size: 14px;
      color: var(--bs-dark-gray-2);
    }
  }
}
