// ======================= STC_Forward =================== //

@font-face {
  font-family: "AvenirArabic-SharjahGovt-Rg";
  src: url("../../fonts/AvenirArabic-SharjahGovt-Rg.ttf") format("truetype"),
  url("../../fonts/AvenirArabic-SharjahGovt-Rg.woff") format("woff"),
  url("../../fonts/AvenirArabic-SharjahGovt-Rg.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "AvenirArabic-SharjahGovt-Md";
  src: url("../../fonts/AvenirArabic-SharjahGovt-Md.ttf") format("truetype"),
  url("../../fonts/AvenirArabic-SharjahGovt-Md.woff") format("woff"),
  url("../../fonts/AvenirArabic-SharjahGovt-Md.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "AvenirArabic-SharjahGovt-Hv";
  src: url("../../fonts/AvenirArabic-SharjahGovt-Hv.ttf") format("truetype"),
  url("../../fonts/AvenirArabic-SharjahGovt-Hv.woff") format("woff"),
  url("../../fonts/AvenirArabic-SharjahGovt-Hv.woff2") format("woff2");
  font-weight: bold;
}
