@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

.footer {
  background-color: var(--bs-light-gray);
  padding: 3.75rem;
  border-radius: var(--corner-5);

  &__container {
    width: 100%;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__logo {
    img {
      height: 82px;
      width: auto;
    }
  }

  &__nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
    }

    a {
      font-size: var(--font-s-body);
      text-decoration: none;
      color: var(--bs-dark-gray-5);
      transition: color 0.3s ease;

      &:hover {
        color: var(--bs-light-gray-2);
      }
    }
  }

  &__bottom {
    border-top: 1px solid var(--bs-light-gray-3);
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .footer__copy {
      font-size: var(--font-s-body);
      color: var(--bs-light-gray-2);
    }

    .footer__social {
      display: flex;
      align-items: center;
      gap: 1rem;

      .footer__label {
        font-size: var(--font-s-body);
        color: var(--bs-dark-gray-3);
        margin-right: 0.5rem;
      }

      a {
        text-decoration: none;
      }
    }
  }

  @media (max-width: 992px) {
    padding-inline: 1.25rem;
    padding-block-end: 2rem;

    &__top,
    &__bottom,
    &__nav ul {
      flex-direction: column;
      text-align: center;
    }

    &__logo {
      margin-bottom: 2rem;
    }

    &__nav ul {
      flex-flow: row;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}
